@{
    ViewBag.Title = "About";
}

    <link rel="stylesheet" href="~/Content/About.css">

<section id="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-10 text-center">
                <h1>FINDER</h1>
                <p>
                    FINDER is a website based on the idea of Telephone Directory which was used to find the telephone numbers against person names.
                </p>
                <p>
                    Instead of the old taditional telephone directory FINDER is a modern telephone directory which hold more information of a person instead of Telephone
                    numbers like email, phone number, address and their images links against their name.
                </p>
            </div>
            <div class="col-lg-5 col-sm-10">
                <div class="img-wrap">
                    <img src="~/Content/about.jpg" width="450" height="450" alt="Placeholder">
                </div>
            </div>
        </div>
    </div>
</section>
