@{
    ViewBag.Title = "Contact";
}

    <link rel="stylesheet" href="~/Content/Contact.css">

    <div class="box">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fab fa-instagram fa-3x" style="color:black;"></i>

                        <div class="title">
                            <h4>Instagram</h4>
                        </div>

                        <div class="text">
                            <span>Not available in this moment</span>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fab fa-twitter fa-3x" style="color:black;"></i>

                        <div class="title">
                            <h4>Twitter</h4>
                        </div>

                        <div class="text">
                            <span>Not available in this moment</span>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fab fa-facebook-f fa-3x" style="color:black;"></i>

                        <div class="title">
                            <h4>Facebook</h4>
                        </div>

                        <div class="text">
                            <span>Not available in this moment</span>
                        </div>



                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fab fa-pinterest fa-3x" style="color:black;"></i>

                        <div class="title">
                            <h4>Pinterest</h4>
                        </div>

                        <div class="text">
                            <span>Not available in this moment</span>
                        </div>



                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fab fa-google fa-3x" style="color:black;"></i>

                        <div class="title">
                            <h4>Gmail</h4>
                        </div>

                        <div class="text">
                            <span>Bsef17A509@pucit.edu.pk</span>
                        </div>



                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fab fa-github fa-3x" style="color:black;"></i>

                        <div class="title">
                            <h4>Github</h4>
                        </div>

                        <div class="text">
                            <span>Not available in this moment</span>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/f01585e4ba.js"></script>